*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    overflow-x: hidden;
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;

}

:root {
    --primaryColor: #FFF;
    --secondaryColor: #F68B1E;
    --thirdColor: #445268;
}

svg {
    width: 20px;
    height: 20px;

}

.header {
    background: var(--primaryColor);
    width: 100vw;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.hearderContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 50px;
}

.menu a button {
    margin: 10px;
    font-size: 16px;
    font-weight: 700;
    
}

.searchBar {
    display: none;
}

.logo {
    flex: 2;
    cursor: pointer;
}

.menu {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoText {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.nosProduits {
    font-weight: 400;
    margin: 5px;
}

.menu button {
    padding: 10px 20px;
    cursor: pointer;
    background: var(--secondaryColor);
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    color: var(--primaryColor);
}


.subHeader {
    background-color: var(--primaryColor);

}

.categorieTrier {
    background-color: #E3E0E0;
}

.subHeaderContainer,
.categorieTtrierContainer {
    padding: 15px 50px;
    display: flex;
    text-transform: capitalize;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
}

.subLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%
}

.subLeft div {
    margin: 5px;
}

.categorieList {
    position: absolute;
    border: 1px solid #B9ACAC;
    z-index: 100;
    top: 140px;
    left: -350px;
    background: var(--primaryColor);
    height: 350px;
    width: 350px;
    transition: transform 0.4s ease;

}

.categorieList.active {
    transform: translateX(400px);

}

.categorieListContainer {
    padding: 20px;
}


.categorieItem {
    margin: 20px;

}

.categorieItem a {
    text-decoration: none;
    transition: text-decoration 4s;
}

.categorieItem a:hover {
    text-decoration: underline;
}

.compte {
    display: flex;

}

.error {
    width: 100%;
    border: 1px solid rgba(249, 197, 197, 0.804);
    text-align: center;
    color: red;
    display: none;
    padding: 10px;
    background-color: rgba(249, 197, 197, 0.804);
    margin-bottom: 40px;
}
.error.active{
    display: block;
}

.compte .passe {
    margin-left: 80px;
}

.compte .creer {
    margin-right: 80px;
}





.subRight {
    display: none;
}

.categorie {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.categorie .icon {
    margin-right: 5px;
}



.sliderImgBlock {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.slider img {
    width: 100%;
    height: 500px;
    display: none;
    transition: all 0.6s ease;
    object-fit: cover;
}

.slider .active {
    display: block;

}

.slider.product {
    margin-bottom: 100px;
}

.sliderCard {
    visibility: hidden;

}

.sliderIcons {
    display: none;
}

.categoriesDeProductsContainer {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

.typeDeCategorie {
    margin-bottom: 40px;
}

.typeDeCategorie:last-child {
    margin-bottom: 50px;
}

.categoriesDeProductsContainer .categorieName {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.categoriesDeProductsContainer .categorieName::after {
    content: "";
    display: inline-block;
    height: 8px;
    border-radius: 10px;
    margin-left: 50px;
    width: 100%;
    background-color: #000;
}

.categorieContent {
    width: 100%;
}

.categorieContent .categorieImg img {
    width: 100%;
    object-fit: cover;
}

.categorieProduct .productTop {
    display: flex;
    flex-direction: column;

}

.productBlock .productCaracteristique {
    cursor: pointer;
}

.productTopTitle {
    margin: 20px 0;
    text-align: center;
}

.productBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.productDesc {
    font-weight: 400;
}

.productBlock .productImg img {
    width: 100px;
    height: 100px;
    object-fit: contain;

}

.productName {
    font-weight: 800;
    margin-bottom: 5px;
}


.footer {
    background-color: var(--thirdColor);
}

.footerContainer {
    padding: 50px;
    color: var(--primaryColor);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer .logo {
    text-transform: uppercase;
    font-size: 30px;

    margin: 20px 0;
    font-weight: 700;
}

.footer .newsLetter {
    margin-bottom: 20px;
}

.footer .newsTitle {
    font-size: 15px;
    margin-bottom: 10px;
}

.footer .newsForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer .inputField {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    background-color: var(--primaryColor);
    border-radius: 4px;
    width: 60%;
    padding: 5px;
}

.inputField .email {
    display: flex;
    align-items: center;
}

.inputField input {
    outline: none;
    width: 100%;
    margin-left: 10px;
    border: none;
}

.newsForm .sabonner {
    background: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    padding: 8px;
    color: var(--primaryColor);
    font-weight: 700;
    border-radius: 4px;
}

.footer .footerHelp {
    display: flex;
    flex-direction: column;
}

.footerHelp .title {
    margin-bottom: 10px;
    font-weight: 600;
}

.footerHelp p {
    margin: 5px;
}

.nousConnaitre,
.besoinDaide,
.reseauxSociaux {
    margin: 20px;
}

.reseauxSociaux .content {
    display: flex;
    justify-content: space-between;
}


.form {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background: var(--primaryColor);
    width: 40%;
    font-size: 12px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #B9ACAC;
    border-radius: 4px;

}

.logoConnexion {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.title {
    margin-bottom: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

}

.inputs input {
    margin-bottom: 20px;
}

.inputs input {

    padding: 12px 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #B9ACAC;
    border-radius: 4px;

}

.inputs input:focus {
    border: 1px solid var(--secondaryColor);
}

.oublier a {
    text-decoration: none;
    display: inline-block;
    color: var(--secondaryColor);
    margin-bottom: 30px;
}

.form button {
    padding: 10px 20px;
    margin-bottom: 30px;
    border: 1px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    color: var(--primaryColor);
}

.productCommand {
    margin: 20px;
}

.productCommandContainer {
    padding: 0 10px;
}

.productItemsBlock {
    display: flex;
    flex-direction: column;
}

.productItems {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.productItem {
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 15px;
}

.productCommandCaracteristique p {
    line-height: 1.5;
}

.productCommandCaracteristique .productPrice {
    font-weight: 800;

}

.reduction {
    margin-bottom: 10px;
}

.reduction .old {
    text-decoration: line-through;
    margin: 0 10px;
}

.reduction .percentage {
    padding: 2px 3px;
    text-align: center;
    border-radius: 4px;
    background-color: var(--secondaryColor);
}

.productItem .commandButton {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    border-radius: 4px;
    color: var(--primaryColor);
}




@media screen and (min-width:487px) {
    .productItems {
        flex-direction: row;
    }
}



@media screen and (min-width:1153px) {
    .formContainer {
        width: 550px;
        font-size: 16px;
    }
}


@media screen and (min-width:675px) {
    .footer .footerHelp {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }
}



@media screen and (min-width: 853px) {
    .categorieContent .categorieImg img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .categorieContent {
        display: flex;
        justify-content: space-around;
    }

    .productBlock .productImg img {
        width: 100%;
    }

    .categorieProduct {
        display: flex;
        flex-direction: column;
    }

    .productBlock {
        display: flex;
        justify-content: space-around;

    }

    .productCaracteristique {
        margin: 0 20px;
        display: flex;
        align-items: center;

    }

    .productDesc {
        margin-right: 10px;
    }
}



@media screen and (min-width:1004px) {

    .searchBar {
        flex: 3.5;
        border-radius: 4px;
        border: 1px solid gray;
        display: flex;
        justify-content: space-around;
        background: var(--primaryColor);
        align-items: center;
        padding: 8px;
        padding-right: 0;
        height: 35px;
    }

    .searchBar .input {
        width: 100%;
        outline: none;
        border: none;
        font-size: 17px;
    }

    .searchIcon {
        height: 35px;
        width: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid gray;
        justify-content: center;
        background-color: #F68B1E;
        border-radius: 0 4px 4px 0;
    }

}

@media screen and (max-width:669px) {
    .nosProduits {
        display: none;
    }
}


@media screen and (max-width: 960px) {



    .subRight {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .nouveautes,
    .aides,
    .ventes {
        display: none;
    }

    .categorieList.active {
        transform: translateX(350px);

    }
}

@media screen and (min-width:748px) {
    .slider {
        height: 400px;
    }

    .sliderContainer {
        position: relative;
    }

    .sliderCard {
        text-align: center;
        background: var(--primaryColor);
        position: relative;
        top: -400px;
        left: 50px;
        padding: 20px 40px;
        visibility: visible;
        border: 1px solid transparent;
        box-shadow: 0 4px 7px 5px rgba(0, 0, 0, 0.25);
        width: 550px;
        border-radius: 10px;
    }

    .cardTitle,
    .cardContent,
    .cardButton {
        margin: 20px 0;
    }

    .cardContent {
        font-size: 20px;
    }


    .cardButton {
        padding: 10px 20px;
        cursor: pointer;
        background: var(--secondaryColor);
        border: none;
        font-weight: 500;
        border-radius: 4px;
        font-size: 20px;
        color: var(--primaryColor);
    }

    .sliderIcons {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -250px;
    }

    .iconBack,
    .iconNext {
        cursor: pointer;
    }




}